@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import "css/variables.scss";
@import "css/utilities.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}

img {
  max-width: 100%;
  display: block;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px white;
}

// Header / Navigation

header {
  background: $orange;
  color: white;
  padding-block: 1.25rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;
  }

  .header {
    &__logo {
      height: 3.25rem;
      cursor: pointer;
    }

    &__search {
      display: flex;
      width: 100%;

      input {
        padding: 0.875rem 1rem;
        border: none;
        border-radius: 0.85rem;
        width: inherit;
      }
    }

    &__registeration {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      button {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: inherit;

        img {
          width: 1.3rem;
        }
      }
    }

    &__shopping-cart {
      cursor: pointer;
      padding: 0.65rem;
      width: 3rem;
      border-radius: 4px;

      &:hover {
        background: rgba($color: #000000, $alpha: 0.035);
      }
    }
  }
}

// Home Section

.home {
  &__hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;

    margin-block: 1.5rem;

    .react__carousel {
      grid-column: 2 / -1;
      overflow: hidden;
    }

    .carousel__image {
      border-radius: 8px;
      width: 100%;
      height: 340px;
      object-fit: cover !important;
    }

    .categories {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.75rem 0;
      background: white;
      border-radius: 6px;
      outline: 2px solid rgb(216, 216, 216);
      color: rgb(115, 115, 115);
      font-size: 0.875rem;

      li {
        display: flex;
        justify-content: space-between;
        padding: 0.215rem 0.9rem;

        .arrow-head {
          width: 0.9rem;
          display: none;
        }

        &:hover {
          color: $orange;
          cursor: pointer;
          background: rgba($color: #000000, $alpha: 0.05);

          .arrow-head {
            display: block;
          }
        }
      }
    }
  }

  &__features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background: rgba($orange, $alpha: 0.075);
    cursor: pointer;

    border-radius: 6px;

    padding: 0.675rem 1.5rem;
    margin-bottom: 1.5rem;

    &:hover {
      background: rgba($orange, $alpha: 0.125);
    }

    .feature {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding-right: 1rem;

      span {
        font-size: 0.925rem;
      }
    }
  }
}
